<div class="text-box-div">
    <section class="text-box">
                 <h1> Smart Meters</h1>
                <p>
                    A smart meter is an electronic gadget that records data like utilization of electric energy,
                     voltage levels, current,<br> and power factor. Smart meters convey the data to the consumer for greater clarity  <br>of consumption behavior,
                    and electricity suppliers for system <br>monitoring and customer billing.
                </p>
              <a href="{% url 'blog:aboutus' %}" class="hero-btn">FIND MORE</a>
    </section>
</div>
