*{  padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.header {
    min-height: 10vh;
    width: 100%;
    background-color: #32312c;
    background-position: center;
    background-size: cover;
    position:  oover;
    margin-top: -3px;
    padding:  10px -10px 0px 10px;
}
.text-box-div{
    width: 100%;

}

nav{
    display: flex;
    padding: 2% 7%;
    justify-content: space-between;
    align-items: right;
    word-spacing: 12px;
}
nav img{ 
    width: 46px;
    height:46px;
    margin-top:-6px;
    overflow: hidden;
    border-radius: 50%;
}
.nav-Links{
    flex: 1;
    text-align: right;
} 
.nav-Links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 6px;
    position: relative;
}
.nav-Links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-Links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;

}
.nav-Links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none; 
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-Links ul li{
        display: block;
    }
    .nav-Links{
        position: absolute;
        background: #b4b4b4;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px; 
        font-size: 22px;
        cursor: pointer;    
    }
    .nav-Links ul{
        padding: 30px;
    }
}
.text-box{
    Width: 100%;
    color: #fff;
    background-image: linear-gradient(rgba(236, 222, 222, 0.7),rgba(14, 1, 1, 0.7)),url(image/banner.jpg);
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:  10px -10px 0px 10px;
    
}
.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff; 
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: -10px 0px 10px 0px;

}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

@media(max-width:700px){
    .text-box h1 {
        font-size: 31px;
        margin: 0px 50px 0px 0px;
    }
    .text-box p{
         margin: 5px 0 20px;
         font-size: 7px;
         color: #fff; 
         margin: 0px 50px 0px 0px;
    }
    .text-box {
       font-size: 1px;
       margin: -10px auto;
       width: 100%;
       min-height: 30vh;
       background-image: linear-gradient(rgba(236, 222, 222, 0.7),rgba(14, 1, 1, 0.7)),url(image/banner.jpg);
       background-position: center;
       background-size: cover;
       text-align: center;
       position:  cover;
       padding: 10px 0px 15px 29px;

    }
    .hero-btn{
        width: 12%;
        font-size: 8px;
        padding: 5px;
        margin: 0px 50px 5px 0px;
    }
}

/*----------course-------*/
.course{
    width: 100%;
    text-align: center;
    padding-top: 10px; 
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 15px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*---------Metering------*/
.Metering{
    width:100%;
    text-align: center;
    padding-top: 0px; 
}
h1{
    font-size: 30px;
    font-weight: 600;
}

.Metering-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
    opacity: 50;
}
.Metering-col img{
    width: 100%;
    padding: 20px 12px;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;

}
.Layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
   

}
.Layer:hover{
    background: rgba(212, 207, 207, 0.7)
}
.Layer h3{
    width: 100%;
    font-weight: 300;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 20%;
    transform: translateX(-50);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.Layer:hover h3{
    bottom:49%;
    opacity: 1;
}
/*-------facilities--------*/
.facilities{
    width:100%;
    margin:auto;
    text-align: left;
    padding: 10px; 
}
h1{
    font-size: 25px;
    font-weight: 600;
}
.row{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.facilities-col {
    flex-basis: 31%;
    border-radius: 25px;
    margin-bottom: 0%;
    text-align: left;
    position: relative;
}
.facilities-col img{
    width: 100%;
    border-radius:15px 12px;
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    padding: 8px 10px;
}
    .facilities-col p {
        padding: 8px 10px;  
        margin-top: 1px;
        margin-bottom: 3px;
        text-align: center;
        flex-basis: 44%;
    }  
    
    .facilities-col h3 {
        margin-top: 3px;
        margin-bottom: 5px;
        text-align: center;
        flex-basis: 44%;
        padding: 8px 10px;  
    }


.testimonials{
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.testimonials-col{
    flex-basis: 38%;
    border-radius: 10px 12px;
    margin-bottom: 2%;
    text-align: left; 
    background: #fff3f3;
    justify-content: space-between;
    display: flex;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 50px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 5;
    text-align: right;

}
.testimonials-col h3{
    margin-top:15px;
    text-align: left;

}
.testimonials-col .fa{
    color: #f44336;
}
@media(max-width:700px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 0px;
        flex-basis: 25%;
    }
    .testimonials-col p{
        font-size: 3vw;
        text-align: center;
    }
    .testimonials-col h3{
        font-size: 3vw;
    }
}
a { 
    color:#00abff;
    text-decoration:none; 
}

h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
}

h2 {
    font-weight:normal;
    margin:30px 0 0;
}

content { 
    float:left;
    width:60%;
    padding:0 0 0 30px; 
}


p .date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    font-style: italic; 
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

.ind{
    padding-left: 100px;
    padding-top: 1PX;
    margin-bottom: 2%;
}

#sidebar {
    float: right;
    width: 30%;
    padding:  30px;
    margin-right: 2%;
    background: #efefef;
    height: 120%;   
    margin-bottom: 20px;
}


/* comments */
.comment {
    padding: 0px;

}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}
/* forms */
.label { 
    float:left;
    clear:both;
    color:#333;
    ; 
}
.post { 
    margin:0 0 10px;
    padding:6px 10px 0px 5px;
    font-size:12px;
    margin:4px 0px 0px 10vw;
}
.django-ckeditor-widget {
     margin: 2vw;
     width: 1px;
    }
.input[type=submit] {
    font-weight:bold;
    background:#00abff;
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

.cta{
   
    margin: 10px auto;
    width: 80%;
    background-image: linear-gradient(rgba(236, 222, 222, 0.7),rgba(14, 1, 1, 0.7)),url(image/banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px;
}
    .cta h1 {
        color: #fff;
    }

@media(max-width:700px){
    .cta h1 {
        font-size: 10px;
    }


@media(max-width:700px){
    .cta {
       font-size: 10px;
       margin: 5px auto;
       width: 60%;
       background-image: linear-gradient(rgba(236, 222, 222, 0.7),rgba(14, 1, 1, 0.7)),url(image/banner.jpg);
       background-position: center;
       background-size: cover;
       border-radius: 10px;
       text-align: center;
       padding: 50px;
    }
    .hero-btn{
        width: 10%;
        font-size: 5px;
        padding: 10px;
        margin-top: 3%;
    }
}

.body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
/*.me-2 {
    margin-right: .5rem!important;
}*/
.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 2vw;
    max-height: 150px;
    text-align: center;
    padding: 10px 0px;
    clear: both;
    background-color: #32312c;
    color: white;

}
    .footer h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        font-weight: 3;
    }

    .footer .p {
        text-align: center;
    }
.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
}
#preoverlay{
    display: none;
}
#overlay{
    background: rgba(170,170,170,1);
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    
}
#deldiv{
    z-index: 2;
    position: fixed;
    background-color:  grey;
    width: 40%;
    height: 30%;
    top: 20%;
    left: 30%;
    cursor: pointer;
}
#predeldiv{
    display: none;
    background-color: #f44336;
}
